aws_region       = "il-central-1"
domain_name      = "example.com"
zone_name        = "example.com"
recipient_email  = "info@example.com"
forward_to_email = "your-real-mailbox@gmail.com"
from_email       = "forwarder@example.com"
bucket_name      = "example-com-inbound-mail"
rule_set_name    = "default-inbound"
rule_name        = "forward-info-example-com"
s3_prefix        = "inbound"